@media (prefers-color-scheme: dark) {
    *, :after, :before {
        box-sizing: border-box;
        border: 0 solid theme('colors.gray.700');
    }

    body {
        @apply text-gray-400 bg-gray-850;
    }

    .outside {
        @apply bg-gray-800;
    }

    .outside label {
        @apply text-gray-400;
    }

    .global-header {
        @apply bg-gray-900;
    }

    .search-input, .input-text {
        @apply text-gray-200 bg-transparent;
    }

    .grid-fieldtype .textarea-fieldtype textarea {
        @apply text-gray-200 bg-transparent;
    }

    .grid-table thead th.grid-drag-handle-header,
    .grid-table thead th,
    .grid-table tbody td.drag-handle {
        @apply text-gray-200 bg-gray-850;
    }

    .table-fieldtype-table .input-text, .table-fieldtype-table input.slug:focus, .table-fieldtype-table input.slug:hover {
        @apply text-gray-200 bg-transparent;
    }

    .table-fieldtype-table .input-text:focus, .table-fieldtype-table input.slug:focus {
        @apply text-gray-200 bg-transparent;
    }

    .card, .section-builder .section-layout {
        @apply bg-gray-900;
    }

    a:not([class^=btn]) {
        @apply text-gray-300;
    }

    .data-table tbody tr:hover {
        @apply bg-gray-700;
    }

    .nav-main li a {
        @apply text-gray-400;
    }

    .nav-main li.current>a {
        @apply text-gray-200;
    }

    .nav-main li.current>a i {
        @apply bg-gray-900;
    }

    .rotating-dots-button:hover {
        @apply text-gray-200;
    }

    .bg-white, .hover\:bg-white:hover {
        background: theme('colors.gray.900') !important;
    }

    .bg-blue-100, .hover\:bg-blue-100:hover {
        background: #001e39 !important;
        color: theme('colors.gray.200');
    }

    .bg-grey-10, .hover\:bg-grey-10:hover {
        background: theme('colors.gray.800') !important;
    }

    .bg-grey-20, .hover\:bg-grey-20:hover {
        background: theme('colors.gray.800') !important;
    }

    .bg-grey-30, .hover\:bg-grey-30:hover {
        background: theme('colors.gray.700') !important;
    }

    .border-grey-30, .hover\:border-grey-30:hover {
        border: theme('colors.gray.700') !important;
    }

    .border-grey-50, .hover\:border-grey-50:hover {
        border-color: theme('colors.gray.700') !important;
    }

    .text-grey-80, .hover\:text-grey-80:hover {
        color: theme('colors.gray.300') !important;
    }

    .text-grey-90, .hover\:text-grey-90:hover {
        color: theme('colors.gray.400') !important;
    }

    .toggle-container {
        @apply bg-gray-700 border-gray-600;
    }

    .toggle-knob {
        @apply bg-gray-600;
    }

    .page-tree .page-move {
        background-color: theme('colors.gray.900');
        border-radius: 3px 0 0 3px;
    }

    .page-tree .page-move:hover {
        background-color: theme('colors.gray.700');
        border-radius: 3px 0 0 3px;
    }

    .page-tree .tree-node-inner {
        @apply bg-gray-900;
    }

    .page-tree .tree-node-inner:hover {
        @apply bg-gray-700;
    }

    .publish-section:not(:empty) {
        @apply bg-gray-900;
    }

    .tabs a {
        @apply bg-gray-800 border-gray-700 shadow-light-sm;
        /* box-shadow: 0 0 0 1px rgba(49,49,93,.05),0 2px 5px 0 rgba(49,49,93,.075),0 1px 3px 0 rgba(49,49,93,.15); */
    }

    .tabs a.active {
        @apply bg-gray-900 border-l-0 border-r-0;
    }

    .tabs .tab-button {
        @apply bg-gray-800 border-gray-700;
    }

    .tabs .tab-button:focus {
        @apply bg-gray-900;
    }

    .tabs .tab-button.active {
        @apply bg-gray-900;
    }

    .replicator-set-body {
        @apply border border-gray-700 shadow-light;
    }

    label {
        @apply text-gray-400;
    }

    code {
        color: #f9f2f4;
        background-color: #c7254e;
    }

    .input-group .input-text, .input-group input.slug:focus, .input-group input.slug:hover {
        @apply text-gray-200 bg-transparent border-gray-700;
    }

    .replicator-fieldtype {
        @apply bg-gray-800;
    }

    .replicator-set {
        @apply bg-gray-800;
    }

    .replicator-set-header, .grid-item-header {
        @apply bg-gray-700;
    }

    .bard-fixed-toolbar {
        @apply bg-gray-900;
    }

    .bard-fixed-toolbar .bard-toolbar-button {
        @apply text-gray-400;
    }

    .bard-fixed-toolbar .bard-toolbar-button:hover {
        @apply bg-gray-800;
    }

    .bard-fixed-toolbar .bard-toolbar-button.active {
        @apply text-gray-200 bg-gray-700;
    }

    .bard-editor {
        @apply bg-gray-900;
    }

    .bard-fieldtype .ProseMirror {
        @apply text-gray-200;
    }

    .bard-fieldtype .ProseMirror>p {
        @apply text-gray-200;
    }

    .bard-footer-toolbar {
        @apply bg-gray-900;
    }

    .blueprint-section-field .blueprint-section-field-inner {
        @apply bg-gray-800;
    }

    .blueprint-section-import:before {
        @apply bg-gray-700;
    }

    .assets-fieldtype .assets-fieldtype-picker, .video-fieldtype-container {
        @apply bg-gray-800;
    }

    .input-group .input-group-append, .input-group .input-group-item, .input-group .input-group-prepend {
        background: linear-gradient(180deg,theme('colors.gray.700'),theme('colors.gray.800'));
        border-color: theme('colors.gray.700');
        color: theme('colors.gray.300');
    }

    .btn:not(.btn-primary) {
        background: linear-gradient(180deg,theme('colors.gray.700'),theme('colors.gray.800'));
        border-color: theme('colors.gray.700');
        color: theme('colors.gray.300');
    }

    .btn:active:not(:disabled,.btn-primary), .btn:hover:not(:disabled,.btn-primary) {
        background: linear-gradient(180deg,theme('colors.gray.600'),theme('colors.gray.700'));
        border-color: theme('colors.gray.700');
        color: theme('colors.gray.300');
    }

    .btn-round {
        background: linear-gradient(180deg,theme('colors.gray.700'),theme('colors.gray.800'));
        border-color: theme('colors.gray.700');
    }

    .btn-round:active:not(:disabled), .btn-round:hover:not(:disabled) {
        background: linear-gradient(180deg,theme('colors.gray.600'),theme('colors.gray.700'));
        border-color: theme('colors.gray.700');
    }

    .btn-flat {
        @apply text-gray-300 bg-gray-800;
    }

    .btn-flat.active, .btn-flat:active:not(:disabled), .btn-flat:hover:not(:disabled) {
        @apply bg-gray-700;
    }

    .badge-pill, .badge-pill-sm {
        @apply bg-gray-800;
    }

    .data-list-bulk-actions, .mode-grid .data-list-bulk-actions {
        @apply bg-gray-900;
    }

    .data-table tbody tr.row-selected {
        @apply bg-gray-700;
    }

    .data-table thead {
        @apply text-gray-400;
    }

    .data-table thead th:hover {
        @apply text-gray-200;
    }

    .table-fieldtype-table thead th {
        @apply text-gray-400 bg-gray-850;
    }

    .table-fieldtype-table tbody td.table-drag-handle {
        @apply bg-gray-850;
    }

    .table-fieldtype-table tbody td.table-drag-handle:hover {
        @apply bg-gray-800;
    }

    .section-fieldtype {
        @apply bg-gray-800;
    }

    .vs__dropdown-toggle {
        @apply text-gray-200;
    }

    .v-select:not(.vs--unsearchable) .vs__selected-options {
        @apply text-gray-200 border-gray-700;
    }

    .vs__open-indicator {
        color: theme('colors.gray.200') !important;
        background: theme('colors.gray.800') !important;
        @apply border-gray-700;
    }

    .vs__open-indicator svg {
        color: theme('colors.gray.200') !important;
    }

    .vs__search, .vs__search:focus {
        color: theme('colors.gray.200') !important;
    }

    .vs__dropdown-menu {
        @apply bg-gray-800;
    }

    .vs__dropdown-option {
        @apply text-gray-400;
    }

    .vs__dropdown-option--highlight {
        @apply bg-gray-700;
    }

    .vs__clear {
        @apply border-gray-700;
    }

    .vs--single.vs--unsearchable .vs__selected-options {
        background: linear-gradient(180deg,theme('colors.gray.700'),theme('colors.gray.800'));
        border-color: theme('colors.gray.700');
        color: theme('colors.gray.300');
    }

    .vs--single.vs--unsearchable .vs__selected-options:hover {
        background: linear-gradient(180deg,theme('colors.gray.600'),theme('colors.gray.700'));
        border-color: theme('colors.gray.700');
        color: theme('colors.gray.200');
    }

    .data-list-filter-link.active {
        @apply text-gray-200;
    }

    h6 {
        @apply text-gray-400;
    }

    .input-group .input-group-append, .input-group .input-group-item, .input-group .input-group-prepend {
        background: linear-gradient(180deg,theme('colors.gray.700'),theme('colors.gray.800'));
        border-color: theme('colors.gray.700');
        color: theme('colors.gray.300');
    }

    .input-group button.input-group-append:active:not(:disabled), .input-group button.input-group-append:hover:not(:disabled), .input-group button.input-group-item:active:not(:disabled), .input-group button.input-group-item:hover:not(:disabled), .input-group button.input-group-prepend:active:not(:disabled), .input-group button.input-group-prepend:hover:not(:disabled) {
        background: linear-gradient(180deg,theme('colors.gray.600'),theme('colors.gray.700'));
        border-color: theme('colors.gray.700');
    }

    .svg-icon svg {
        stroke: theme('colors.gray.300') !important;
    }

    .filter-fields button {
        @apply text-gray-300;
    }

    .dropdown-list .popover-content a, .dropdown-list .popover-content button {
        @apply text-gray-400;
    }

    .dropdown-list .popover-content .divider {
        @apply bg-gray-700;
    }

    .select-input-container select {
        background: linear-gradient(180deg,theme('colors.gray.700'),theme('colors.gray.800'));
        border-color: theme('colors.gray.700');
        color: theme('colors.gray.300');
    }

    .select-input-container .select-input-toggle {
        @apply text-gray-300;
    }

    .select-input-container select:active:not(:disabled), .select-input-container select:hover:not(:disabled) {
        background: linear-gradient(180deg,theme('colors.gray.600'),theme('colors.gray.700'));
        border-color: theme('colors.gray.700');
    }

    .stack-content .bg-white {
        background-color: theme('colors.gray.800') !important;
    }

    .filter {
        @apply bg-gray-700;
    }

    .filter a.active, .filter a:hover {
        @apply text-gray-200;
    }

    .table-fieldtype-table .input-text:focus, .table-fieldtype-table input.slug:focus {
        @apply bg-transparent;
    }

    .list-fieldtype li input {
        @apply bg-transparent;
    }

    .list-fieldtype li .delete {
        @apply bg-gray-900;
    }

    .text-grey-100, .hover\:text-grey-100:hover {
        color: theme('colors.gray.200') !important;
    }

    .active.btn-dropdown, .btn-default.active, .btn-default.active:hover, .btn.active, .btn.active:hover {
        @apply border-gray-600;
    }

    .item {
        @apply bg-gray-800;
    }

    .item .item-move {
        @apply bg-gray-800;
    }

    .popover-open .popover-content {
        @apply border border-gray-700;
    }

    .pcr-app {
        @apply bg-gray-800 border border-gray-700 rounded;
    }

    .pcr-app[data-theme=classic] .pcr-selection .pcr-color-preview:before,
    .pcr-app[data-theme=classic] .pcr-selection .pcr-color-palette {
        @apply border border-gray-700;
    }

    .grid-table thead th.grid-drag-handle-header,
    .grid-table thead th,
    .grid-table tbody td.drag-handle {
        @apply text-gray-200 bg-gray-850;
    }

    .markdown-fieldtype-wrapper .markdown-toolbar {
        @apply text-gray-400 bg-gray-900;
    }

    .markdown-fieldtype-wrapper .markdown-modes button.active {
        @apply text-gray-200;
    }

    .markdown-fieldtype-wrapper .markdown-modes button {
        @apply text-gray-400;
    }

    .markdown-fieldtype-wrapper .markdown-buttons button {
        @apply text-gray-400;
    }

    .markdown-fieldtype-wrapper .markdown-buttons button:hover {
        @apply bg-gray-800;
    }

    .markdown-fieldtype-wrapper .CodeMirror {
        @apply text-gray-200 bg-gray-900;
    }

    .text-link {
        @apply text-gray-400;
    }

    .v--modal {
        background: theme('colors.gray.900') !important;
        border: 1 solid theme('colors.gray.700') !important;
    }

    .bg-checkerboard {
        background: url(../img/trans-bg-dark.gif);
    }

    .asset-tile .asset-thumb .svg-img, .asset-tile .asset-thumb img {
        border-color: theme('colors.gray.700');
    }

    .asset-grid-listing {
        @apply bg-transparent;
    }

    .video-fieldtype .video-preview {
        @apply bg-gray-900;
    }
}
